[defaults]
inventory = inventory/hosts.yml
roles_path = ./roles:../roles
host_key_checking = False
retry_files_enabled = False
gathering = smart
fact_caching = memory
timeout = 60

# [추가됨] 파이썬 경로를 명확하게 고정 (Warning 1번 해결)
interpreter_python = /usr/bin/python3

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o IdentitiesOnly=yes
pipelining = True
