grafana:
  adminPassword: "{{ grafana_admin_password }}"
  service:
    type: NodePort
    nodePort: {{ grafana_node_port }}
  grafana.ini:
    server:
      root_url: "http://{{ cluster_ip }}:{{ grafana_node_port }}"
  nodeSelector:
    kubernetes.io/hostname: "{{ target_node }}"
  
  # [핵심 변경] 메모리 제한 완화
  resources:
    requests:
      memory: 128Mi
      cpu: 100m
    limits:
      memory: 1Gi # 256Mi -> 1Gi

prometheus:
  prometheusSpec:
    retention: 7d
    nodeSelector:
      kubernetes.io/hostname: "{{ target_node }}"
    
    # [핵심 변경] 메모리 제한 완화
    resources:
      requests:
        memory: 512Mi
        cpu: 500m
      limits:
        memory: 2Gi # 512Mi -> 2Gi

# [핵심 변경] Alertmanager 활성화 (t3.medium은 충분함)
alertmanager:
  enabled: true
