---
k3s_version: "v1.28.7+k3s1"
pod_network_cidr: "10.244.0.0/16"
service_cidr: "10.96.0.0/12"

# [핵심 변경] Swap 비활성화 (Micro에서는 false였음)
disable_swap: true

k3s_server_args: >
  --flannel-backend=vxlan
  --cluster-cidr={{ pod_network_cidr }}
  --service-cidr={{ service_cidr }}
  --disable-cloud-controller
  --write-kubeconfig-mode 644

k3s_server_ports:
  - "6443/tcp"
  - "10250/tcp"
  - "8472/udp"
  - "2379-2380/tcp"

k3s_agent_ports:
  - "10250/tcp"
  - "8472/udp"
  - "30000-32767/tcp"

k3s_token: "k3s-token-2026-secret"
etcd_backup_enabled: true
backup_retention_days: 7

monitoring_namespace: "monitoring"
grafana_admin_password: "admin"
grafana_node_port: 30000
