---
# 1. Helm 설치 (Master 노드에서 실행)
# 이유: Master 노드만이 클러스터 전체에 명령을 내릴 권한(kubeconfig)을 가지고 있습니다.
- name: Install Helm setup script
  # 공식 스크립트를 다운로드 받아 실행합니다.
  shell: curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
  # 이미 설치되어 있다면(파일이 있다면) 다시 실행하지 않도록 하여 시간을 절약합니다.
  args:
    creates: /usr/local/bin/helm

# 2. 필수 Python 패키지 설치
# 이유: Ansible이 K3s(K8s)와 대화하려면 'kubernetes'라는 파이썬 통역사가 필요합니다.
# 이름이 kubernetes일 뿐, K3s 제어용입니다.
- name: Install Python dependencies for Ansible K8s module
  apt:
    name: python3-kubernetes
    state: present

# 3. Helm 저장소(Repository) 추가
# 이유: 스마트폰에 앱스토어를 등록하듯이, 프로메테우스 차트가 있는 저장소를 등록합니다.
- name: Add Prometheus Community Helm Repo
  kubernetes.core.helm_repository:
    name: prometheus-community
    repo_url: https://prometheus-community.github.io/helm-charts

# 4. 네임스페이스 생성
# 이유: 모니터링 관련 파드들을 'monitoring'이라는 방에 따로 모아두기 위함입니다.
- name: Create monitoring namespace
  kubernetes.core.k8s:
    name: "{{ monitoring_namespace }}"
    api_version: v1
    kind: Namespace
    state: present
    # K3s의 인증서 파일 경로를 지정해줍니다.
    kubeconfig: /etc/rancher/k3s/k3s.yml

# 5. 설정 파일 만들기 (Jinja2 템플릿 사용)
# 이유: IP 주소나 노드 이름은 그때그때 다르므로, 템플릿에 구멍을 뚫어놓고 값을 채워 넣습니다.
- name: Render Prometheus Stack values file
  template:
    src: monitor-values.yml.j2
    dest: /tmp/monitor-values.yml
  vars:
    # 플레이북에서 넘겨받은 '첫 번째 Agent 이름'을 변수로 넣습니다.
    # 만약 변수가 비어있다면 에러가 나지 않게 빈 값('')으로 처리합니다.
    target_node: "{{ target_node_name | default('') }}"
    
    # Grafana URL을 만들 때 쓸 Master 노드의 IP 주소입니다.
    cluster_ip: "{{ ansible_host }}"

# 6. 진짜 배포 (Helm Chart Install)
# t3.micro 환경을 고려해 타임아웃을 길게 잡습니다.
- name: Deploy kube-prometheus-stack
  kubernetes.core.helm:
    name: monitoring
    chart_ref: prometheus-community/kube-prometheus-stack # 설치할 차트 이름
    release_namespace: "{{ monitoring_namespace }}"       # 설치할 위치
    kubeconfig: /etc/rancher/k3s/k3s.yml                 # 권한 파일
    values_files:
      - /tmp/monitor-values.yml                          # 아까 만든 설정 파일 적용
    update_repo_cache: yes                                # 저장소 정보 갱신
    wait: yes                                             # 파드가 다 뜰 때까지 대기
    wait_timeout: 10m                                     # 최대 10분 기다림 (t3.micro 느림 방지)
