---
# 1. Helm 설치 (Master 노드에서 실행)
- name: Install Helm setup script
  shell: curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
  args:
    creates: /usr/local/bin/helm
  become: yes

# 2. 필수 Python 패키지 설치
- name: Install Python dependencies for Ansible K8s module
  apt:
    name: python3-kubernetes
    state: present
  become: yes

# 3. Helm 저장소(Repository) 추가
- name: Add Prometheus Community Helm Repo
  kubernetes.core.helm_repository:
    name: prometheus-community
    repo_url: "https://prometheus-community.github.io/helm-charts"
  become: yes

# 4. 네임스페이스 생성
- name: Create monitoring namespace
  kubernetes.core.k8s:
    name: "{{ monitoring_namespace }}"
    api_version: v1
    kind: Namespace
    state: present
  become: yes  # 관리자 권한 필수

# 5. 설정 파일 만들기 (Jinja2 템플릿)
- name: Render Prometheus Stack values file
  template:
    # 성호님이 만드신 템플릿 파일명은 .yml.j2가 맞다면 그대로 두세요!
    src: monitor-values.yml.j2
    dest: /tmp/monitor-values.yml
  vars:
    target_node: "{{ target_node_name | default('') }}"
    cluster_ip: "{{ ansible_host }}"
  become: yes

# 6. 배포 (비동기 방식 - SSH 끊김 방지)
- name: Deploy kube-prometheus-stack
  kubernetes.core.helm:
    name: monitoring
    chart_ref: prometheus-community/kube-prometheus-stack
    release_namespace: "{{ monitoring_namespace }}"
    values_files:
      - /tmp/monitor-values.yml
    values:
      prometheusOperator:
        admissionWebhooks:
          enabled: false
          patch:
            enabled: false
        tls:
          enabled: false
      alertmanager:
        enabled: false
    update_repo_cache: yes
    
    # [전략] 일단 명령만 던지고 연결을 끊습니다. (서버가 멈춰도 앤서블은 안 죽음)
    wait: no 
  become: yes

# 7. 검증 (30초마다 찔러보기)
# 이게 있으면 wait: yes 와 똑같은 효과를 냅니다! "확인될 때까지 안 넘어감"
- name: Wait for Prometheus to be Running
  kubernetes.core.k8s_info:
    kind: Pod
    namespace: "{{ monitoring_namespace }}"
    label_selectors:
      - app.kubernetes.io/name=prometheus
  register: pod_list
  # 파드가 생기고(length > 0) + 상태가 Running 일 때까지 무한 대기
  until: pod_list.resources | length > 0 and (pod_list.resources[0].status.phase == 'Running')
  retries: 40  # 30초 * 40번 = 20분 동안 확인
  delay: 30    # 30초마다 재접속해서 확인
  become: yes

- name: Wait for Grafana to be Running
  kubernetes.core.k8s_info:
    kind: Pod
    namespace: "{{ monitoring_namespace }}"
    label_selectors:
      - app.kubernetes.io/name=grafana
  register: grafana_pod
  until: grafana_pod.resources | length > 0 and (grafana_pod.resources[0].status.phase == 'Running')
  retries: 40
  delay: 30
  become: yes
